In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('./dataset/festman_ecommerce.csv')
df.head()

,OrderDate,OrderID,Delivery Date,CustomerID,Customer Age,Customer Gender,Location,Zone,Delivery Type,Product Category,SubCategory,Product,Unit Price,Shipping Fee,Order Quantity,Sale Price,Status,Reason,Rating
0,5/31/2020,5136486,6/4/2020,230569424,57,M,Western,Zone 3,Express,Fashion,Girl's fashion,Fashion Girl's Dress Kids Children Newborn Bab...,125.00,10.0,2,125.0,Returned,Onsite -Description mismatch,2
1,5/31/2020,5136457,6/12/2020,230568182,24,F,Western,Zone 3,Standard Delivery,Health and beauty,Medical supplies and Equipment,Blood Pressure Monitor Digital Wrist BP Pulse ...,63.20,4.0,7,63.2,Returned,Product - Not fitting expectation,2
2,5/31/2020,5136465,6/10/2020,230567584,31,M,Weija,Zone 2,Standard Delivery,Health and beauty,Medical supplies and Equipment,Portable Blood Pressure Monitor - White,102.00,6.0,10,102.0,Delivered,NaN,3
3,5/31/2020,5136488,6/5/2020,230563788,62,F,Greater Accra,Zone 1,Express,Phones and Tablet,Mobile phones,Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM ...,387.00,7.0,7,387.0,Delivered,NaN,1
4,5/31/2020,5136449,6/10/2020,230563726,18,F,Weija,Zone 2,Shipped from Abroad,Fashion,Boy's fashion,Boys Sneakers Casual Kids Sports Shoes-Gold,120.00,12.0,9,120.0,Delivered,NaN,3

In [8]:
df.drop(['OrderID','CustomerID'], axis=1, inplace=True)

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OrderDate         113000 non-null  object
 1   Delivery Date     113000 non-null  object
 2   Customer Age      113000 non-null  int64
 3   Customer Gender   113000 non-null  object
 4   Location          113000 non-null  object
 5   Zone              113000 non-null  object
 6   Delivery Type     113000 non-null  object
 7   Product Category  113000 non-null  object
 8   SubCategory       113000 non-null  object
 9   Product           113000 non-null  object
 10  Unit Price        113000 non-null  object
 11  Shipping Fee      113000 non-null  float64
 12  Order Quantity    113000 non-null  int64
 13  Sale Price        113000 non-null  float64
 14  Status            113000 non-null  object
 15  Reason            29645 non-null   object
 16  Rating            113000 non-null  int64
dtypes: float64(2), int64(3), object(12)
memory usage: 14.7+ MB

In [13]:
df['OrderDate'] = pd.to_datetime(df['OrderDate'])

In [14]:
df['Delivery Date'] = pd.to_datetime(df['Delivery Date'])

In [15]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   OrderDate         113000 non-null  datetime64[ns]
 1   Delivery Date     113000 non-null  datetime64[ns]
 2   Customer Age      113000 non-null  int64
 3   Customer Gender   113000 non-null  object
 4   Location          113000 non-null  object
 5   Zone              113000 non-null  object
 6   Delivery Type     113000 non-null  object
 7   Product Category  113000 non-null  object
 8   SubCategory       113000 non-null  object
 9   Product           113000 non-null  object
 10  Unit Price        113000 non-null  object
 11  Shipping Fee      113000 non-null  float64
 12  Order Quantity    113000 non-null  int64
 13  Sale Price        113000 non-null  float64
 14  Status            113000 non-null  object
 15  Reason            29645 non-null   object
 16  Rating            113000 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(10)
memory usage: 14.7+ MB

In [16]:
display(df.columns)
print(f"\nNumber of columns: {len(df.columns)}")

Index(['OrderDate', 'Delivery Date', 'Customer Age', 'Customer Gender',
       'Location', 'Zone', 'Delivery Type', 'Product Category', 'SubCategory',
       'Product', 'Unit Price', 'Shipping Fee', 'Order Quantity', 'Sale Price',
       'Status', 'Reason', 'Rating'],
      dtype='object')

Number of columns: 17

In [17]:
display(df.Product.unique())
print(f"\nNumber of unique products: {len(df.Product.unique())}")

array(["Fashion Girl's Dress Kids Children Newborn Baby Dinner Party Princess Dress Ball Gown",
       'Blood Pressure Monitor Digital Wrist BP Pulse Monitor Meter Heart Rate Measure',
       'Portable Blood Pressure Monitor - White',
       'Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM - Blue',
       'Boys Sneakers Casual Kids Sports Shoes-Gold',
       'Triple Power C20 Super Bass USB Bluetooth Subwoofer - Brown + free S530 V4.0 Bluetooth Headset - Black',
       "Fashion Girls' Patent Leather Stitching Shoes - Black",
       'Fragrance World Smart Black Eau de Parfum Spray - 100ml',
       'Amazon Fire HD 8 Kids Tablet 32GB HDD - 2GB RAM - 8" Blue',
       'Samsung Galaxy A02 - 64GB HDD - 3GB RAM Smartphone - Black',
       'Yazole Analog Quartz Wrist Watch - Black',
       'voice blood Pressure Monitor Digital BP Pulse Health Vascular Heartbeat Test',
       'Short Sleeve Polo Shirt - Royal Blue',
       'Canon EOS 60D CMOS DSLR Camera Bundle - 18 - 55mm Lens - Black',
       'Canon EOS 600D 18MP CMOS DSLR Camera - Black',
       'Infinix Smart HD X612 (2021) - 32GB HDD - 2GB RAM - Black',
       'Avon Soft Musk Eau de Toilette Spray - 50ml',
       'Maze Batik Designed 3D Wallpaper - 10M - White/Black',
       'Heat Resistant Glass Storage Bowl - 15 Pieces Multicolour',
       'L A Girl Pro Coverage HD Illuminating Liquid Foundation - Coffee',
       'Hemani Ultra Slim Tea - 10 Bags',
       "10.1'' Business Tablet with MT6582 Quad-Core Processor",
       'Sports Pants - Black',
       'Fashion 4-Piece Leather HandBag Set - Black',
       'Potluck Lunch Box - Brown',
       'Muscle Stimulators - Abdominal Muscle Trainer Set - Fitness',
       'Trust Leather Buckle Shoes - Black',
       '8 Cubes Plastic Wardrobe - Blue/White',
       '6030 3.1 Bluetooth Home Theatre With Remote Control - Black + Free Smartwatch',
       'Yazole Leather Wrist Watch - Black',
       'B5 HiFi 5.0 Ture Wireless Headsets Auto Pair Touch - Black',
       'Aichun Beauty Eight Pack Essential Oil - 30ml',
       'Lindy 12 Cubes Wardrobe 8 Doors - Brown',
       'M4 Smart Bracelet Sports Pedometer Watch',
       'Clere Avocado Milk Body Lotion With Vitamins E+A - 400ml',
       'Vida Divina TeDivina (Detox Tea Formula) - 1 Tea Bag',
       'Cq Amaigrissant Slimming Tea - 20 Tea Bags',
       'Plastic Storage Bowl - 17 Pieces Green',
       'Optimum Nutrition Creatine Sports - 5000mg per Daily Serve Powder',
       'Fashion Boys Sneakers Children Outdoor Shoes-Black',
       '100%Cotton 4 Piece Short Sleeve T-Shirts - Multicolour',
       'Clere Radiance Oil Control Toner - 100ml',
       'Leather Vintage Bracelet Watch - Black',
       'Slip On Leather Sneakers - Black'], dtype=object)

Number of unique products: 44

In [20]:
display(df['Product Category'].unique())
print(f"\nNumber of unique products categories: {len(df['Product Category'].unique())}")

array(['Fashion', 'Health and beauty', 'Phones and Tablet', 'Electronics',
       'Home and Office'], dtype=object)

Number of unique products categories: 5

In [21]:
display(df['SubCategory'].unique())
print(f"\nNumber of unique products subcategories: {len(df['SubCategory'].unique())}")

array(["Girl's fashion", 'Medical supplies and Equipment',
       'Mobile phones', "Boy's fashion", 'Home Audio', 'Fragrances',
       'Tablets', "Men's fashion", 'Digital Cameras',
       'Tools and Home Improvement', 'Kitchen and dinning',
       'Beauty and personal care', 'Vitamins & Dietary Supplements',
       "Women's fashion", 'Home and Furniture', 'Mobile accessories'],
      dtype=object)

Number of unique products subcategories: 16