In [4]:
import pandas as pd

In [5]:
df = pd.read_csv('./dataset/festman_ecommerce.csv')
df.head()

,OrderDate,OrderID,Delivery Date,CustomerID,Customer Age,Customer Gender,Location,Zone,Delivery Type,Product Category,SubCategory,Product,Unit Price,Shipping Fee,Order Quantity,Sale Price,Status,Reason,Rating
0,5/31/2020,5136486,6/4/2020,230569424,57,M,Western,Zone 3,Express,Fashion,Girl's fashion,Fashion Girl's Dress Kids Children Newborn Bab...,125.00,10.0,2,125.0,Returned,Onsite -Description mismatch,2
1,5/31/2020,5136457,6/12/2020,230568182,24,F,Western,Zone 3,Standard Delivery,Health and beauty,Medical supplies and Equipment,Blood Pressure Monitor Digital Wrist BP Pulse ...,63.20,4.0,7,63.2,Returned,Product - Not fitting expectation,2
2,5/31/2020,5136465,6/10/2020,230567584,31,M,Weija,Zone 2,Standard Delivery,Health and beauty,Medical supplies and Equipment,Portable Blood Pressure Monitor - White,102.00,6.0,10,102.0,Delivered,NaN,3
3,5/31/2020,5136488,6/5/2020,230563788,62,F,Greater Accra,Zone 1,Express,Phones and Tablet,Mobile phones,Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM ...,387.00,7.0,7,387.0,Delivered,NaN,1
4,5/31/2020,5136449,6/10/2020,230563726,18,F,Weija,Zone 2,Shipped from Abroad,Fashion,Boy's fashion,Boys Sneakers Casual Kids Sports Shoes-Gold,120.00,12.0,9,120.0,Delivered,NaN,3

In [6]:
df.columns = ['order_date','order_id','delivery_date','customer_id','customer_age','customer_gender','location','zone',
              'delivery_type','product_category','sub_category','product','unit_price','shipping_fee','order_quantity',
              'sale_price','status','reason','rating']
df.head()

,order_date,order_id,delivery_date,customer_id,customer_age,customer_gender,location,zone,delivery_type,product_category,sub_category,product,unit_price,shipping_fee,order_quantity,sale_price,status,reason,rating
0,5/31/2020,5136486,6/4/2020,230569424,57,M,Western,Zone 3,Express,Fashion,Girl's fashion,Fashion Girl's Dress Kids Children Newborn Bab...,125.00,10.0,2,125.0,Returned,Onsite -Description mismatch,2
1,5/31/2020,5136457,6/12/2020,230568182,24,F,Western,Zone 3,Standard Delivery,Health and beauty,Medical supplies and Equipment,Blood Pressure Monitor Digital Wrist BP Pulse ...,63.20,4.0,7,63.2,Returned,Product - Not fitting expectation,2
2,5/31/2020,5136465,6/10/2020,230567584,31,M,Weija,Zone 2,Standard Delivery,Health and beauty,Medical supplies and Equipment,Portable Blood Pressure Monitor - White,102.00,6.0,10,102.0,Delivered,NaN,3
3,5/31/2020,5136488,6/5/2020,230563788,62,F,Greater Accra,Zone 1,Express,Phones and Tablet,Mobile phones,Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM ...,387.00,7.0,7,387.0,Delivered,NaN,1
4,5/31/2020,5136449,6/10/2020,230563726,18,F,Weija,Zone 2,Shipped from Abroad,Fashion,Boy's fashion,Boys Sneakers Casual Kids Sports Shoes-Gold,120.00,12.0,9,120.0,Delivered,NaN,3

In [7]:
df.drop(['order_id','customer_id'], axis=1, inplace=True)

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_date        113000 non-null  object
 1   delivery_date     113000 non-null  object
 2   customer_age      113000 non-null  int64
 3   customer_gender   113000 non-null  object
 4   location          113000 non-null  object
 5   zone              113000 non-null  object
 6   delivery_type     113000 non-null  object
 7   product_category  113000 non-null  object
 8   sub_category      113000 non-null  object
 9   product           113000 non-null  object
 10  unit_price        113000 non-null  object
 11  shipping_fee      113000 non-null  float64
 12  order_quantity    113000 non-null  int64
 13  sale_price        113000 non-null  float64
 14  status            113000 non-null  object
 15  reason            29645 non-null   object
 16  rating            113000 non-null  int64
dtypes: float64(2), int64(3), object(12)
memory usage: 14.7+ MB

In [9]:
df['order_date'] = pd.to_datetime(df['order_date'])
df['delivery_date'] = pd.to_datetime(df['delivery_date'])

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 113000 entries, 0 to 112999
Data columns (total 17 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   order_date        113000 non-null  datetime64[ns]
 1   delivery_date     113000 non-null  datetime64[ns]
 2   customer_age      113000 non-null  int64
 3   customer_gender   113000 non-null  object
 4   location          113000 non-null  object
 5   zone              113000 non-null  object
 6   delivery_type     113000 non-null  object
 7   product_category  113000 non-null  object
 8   sub_category      113000 non-null  object
 9   product           113000 non-null  object
 10  unit_price        113000 non-null  object
 11  shipping_fee      113000 non-null  float64
 12  order_quantity    113000 non-null  int64
 13  sale_price        113000 non-null  float64
 14  status            113000 non-null  object
 15  reason            29645 non-null   object
 16  rating            113000 non-null  int64
dtypes: datetime64[ns](2), float64(2), int64(3), object(10)
memory usage: 14.7+ MB

In [11]:
display(df.columns)
print(f"\nNumber of columns: {len(df.columns)}")

Index(['order_date', 'delivery_date', 'customer_age', 'customer_gender',
       'location', 'zone', 'delivery_type', 'product_category', 'sub_category',
       'product', 'unit_price', 'shipping_fee', 'order_quantity', 'sale_price',
       'status', 'reason', 'rating'],
      dtype='object')

Number of columns: 17

In [20]:
display(df['product'].unique())
print(f"\nNumber of unique products: {len(df['product'].unique())}")

array(["Fashion Girl's Dress Kids Children Newborn Baby Dinner Party Princess Dress Ball Gown",
       'Blood Pressure Monitor Digital Wrist BP Pulse Monitor Meter Heart Rate Measure',
       'Portable Blood Pressure Monitor - White',
       'Samsung A3 Core Dual SIM - 16GB HDD - 1GB RAM - Blue',
       'Boys Sneakers Casual Kids Sports Shoes-Gold',
       'Triple Power C20 Super Bass USB Bluetooth Subwoofer - Brown + free S530 V4.0 Bluetooth Headset - Black',
       "Fashion Girls' Patent Leather Stitching Shoes - Black",
       'Fragrance World Smart Black Eau de Parfum Spray - 100ml',
       'Amazon Fire HD 8 Kids Tablet 32GB HDD - 2GB RAM - 8" Blue',
       'Samsung Galaxy A02 - 64GB HDD - 3GB RAM Smartphone - Black',
       'Yazole Analog Quartz Wrist Watch - Black',
       'voice blood Pressure Monitor Digital BP Pulse Health Vascular Heartbeat Test',
       'Short Sleeve Polo Shirt - Royal Blue',
       'Canon EOS 60D CMOS DSLR Camera Bundle - 18 - 55mm Lens - Black',
       'Canon EOS 600D 18MP CMOS DSLR Camera - Black',
       'Infinix Smart HD X612 (2021) - 32GB HDD - 2GB RAM - Black',
       'Avon Soft Musk Eau de Toilette Spray - 50ml',
       'Maze Batik Designed 3D Wallpaper - 10M - White/Black',
       'Heat Resistant Glass Storage Bowl - 15 Pieces Multicolour',
       'L A Girl Pro Coverage HD Illuminating Liquid Foundation - Coffee',
       'Hemani Ultra Slim Tea - 10 Bags',
       "10.1'' Business Tablet with MT6582 Quad-Core Processor",
       'Sports Pants - Black',
       'Fashion 4-Piece Leather HandBag Set - Black',
       'Potluck Lunch Box - Brown',
       'Muscle Stimulators - Abdominal Muscle Trainer Set - Fitness',
       'Trust Leather Buckle Shoes - Black',
       '8 Cubes Plastic Wardrobe - Blue/White',
       '6030 3.1 Bluetooth Home Theatre With Remote Control - Black + Free Smartwatch',
       'Yazole Leather Wrist Watch - Black',
       'B5 HiFi 5.0 Ture Wireless Headsets Auto Pair Touch - Black',
       'Aichun Beauty Eight Pack Essential Oil - 30ml',
       'Lindy 12 Cubes Wardrobe 8 Doors - Brown',
       'M4 Smart Bracelet Sports Pedometer Watch',
       'Clere Avocado Milk Body Lotion With Vitamins E+A - 400ml',
       'Vida Divina TeDivina (Detox Tea Formula) - 1 Tea Bag',
       'Cq Amaigrissant Slimming Tea - 20 Tea Bags',
       'Plastic Storage Bowl - 17 Pieces Green',
       'Optimum Nutrition Creatine Sports - 5000mg per Daily Serve Powder',
       'Fashion Boys Sneakers Children Outdoor Shoes-Black',
       '100%Cotton 4 Piece Short Sleeve T-Shirts - Multicolour',
       'Clere Radiance Oil Control Toner - 100ml',
       'Leather Vintage Bracelet Watch - Black',
       'Slip On Leather Sneakers - Black'], dtype=object)

Number of unique products: 44

In [25]:
display(df['product_category'].unique())
print(f"\nNumber of unique products_categories: {len(df['product_category'].unique())}")

array(['Fashion', 'Health and beauty', 'Phones and Tablet', 'Electronics',
       'Home and Office'], dtype=object)

Number of unique products_categories: 5

In [26]:
display(df['sub_category'].unique())
print(f"\nNumber of unique products sub_categories: {len(df['sub_category'].unique())}")

array(["Girl's fashion", 'Medical supplies and Equipment',
       'Mobile phones', "Boy's fashion", 'Home Audio', 'Fragrances',
       'Tablets', "Men's fashion", 'Digital Cameras',
       'Tools and Home Improvement', 'Kitchen and dinning',
       'Beauty and personal care', 'Vitamins & Dietary Supplements',
       "Women's fashion", 'Home and Furniture', 'Mobile accessories'],
      dtype=object)

Number of unique products sub_categories: 16

In [27]:
display(df['delivery_type'].unique())
print(f"\nNumber of unique products delivery_type: {len(df['delivery_type'].unique())}")

array(['Express', 'Standard Delivery', 'Shipped from Abroad'],
      dtype=object)

Number of unique products delivery_type: 3

In [40]:
display(df['reason'].unique())
print(f"\nNumber of unique returning reason: {len(df['reason'].unique())}")

array(['Onsite -Description mismatch',
       'Product - Not fitting expectation', nan, 'Delivery-Wrong item',
       'Delivey - Missing item/part', 'Quality-Defective item'],
      dtype=object)

Number of unique returning reason: 6

In [41]:
df['reason'].fillna('Not Added', inplace=True)

In [44]:
display(df['reason'].unique())

array(['Onsite -Description mismatch',
       'Product - Not fitting expectation', 'Not Added',
       'Delivery-Wrong item', 'Delivey - Missing item/part',
       'Quality-Defective item'], dtype=object)

In [68]:
if (df['customer_gender'].isnull().any() == True):
    print('gg!') #it will give us nothing because there is no null values!

In [70]:
display(df['rating'].unique())
print(f"\nNumber of unique rating: {len(df['rating'].unique())}")

array([2, 3, 1, 5, 4])

Number of unique rating: 5